.DS_Store
.grunt/
*.odc
*.pyc
*.sde
deploy/
dist/
node_modules/
secrets.json
src/Content/viewer/agrc/
src/Content/viewer/agrc-jasmine-matchers/
src/Content/viewer/app/**/*.css
src/Content/viewer/bootstrap/
src/Content/viewer/components-jasmine/
src/Content/viewer/dgauges/
src/Content/viewer/dgrid/
src/Content/viewer/dgrid1/
src/Content/viewer/dijit/
src/Content/viewer/dojo/
src/Content/viewer/dojo-themes/
src/Content/viewer/dojox/
src/Content/viewer/dstore/
src/Content/viewer/esri/
src/Content/viewer/favico.js/
src/Content/viewer/ijit/
src/Content/viewer/jasmine-favicon-reporter/
src/Content/viewer/jasmine-jsreporter/
src/Content/viewer/jquery/
src/Content/viewer/ladda-bootstrap/
src/Content/viewer/layer-selector/
src/Content/viewer/moment/
src/Content/viewer/mustache/
src/Content/viewer/proj4/
src/Content/viewer/put-selector/
src/Content/viewer/spin.js/
src/Content/viewer/spinjs/
src/Content/viewer/stubmodule/
src/Content/viewer/util/
src/Content/viewer/xstyle/
*.user
*.suo
api/bin
api/obj
api/connections.config
api/packages
*.pubxml
scripts/acts_secrets.py
