<connectionStrings>
  <add name="production" providerName="System.Data.SqlClient"
       connectionString="Data Source=salinity.agrc.utah.gov;Initial Catalog=SALINITY;Persist Security Info=True;User ID=;Password=" />
  <add name="stage" providerName="System.Data.SqlClient"
       connectionString="Data Source=" />
  <add name="dev" providerName="System.Data.SqlClient"
       connectionString="Data Source=" />
</connectionStrings>